<div class="list-container">
  <h2>Lista de Usuários (com Angular Material)</h2>

  @if (users.length === 0) {
    <p>Carregando usuários ou a lista está vazia...</p>
  } @else {
    <mat-selection-list #userList>

      @for (user of users; track user.id) {
        <mat-list-option [value]="user">
          <div class="user-info">
            <span class="user-name">{{ user.name }}</span>
            <span class="user-email">{{ user.email }}</span>
          </div>
        </mat-list-option>
      }

    </mat-selection-list>
  }
</div>